.header {
   &__top {
      background-color: #eef1f3;
   }
   &__top-inner {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
   }
   &__seller {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      background-color: #0674ec;
      color: #ffffff;
      padding: 3px 18px;
      cursor: pointer;
      margin-left: auto;
      margin-right: 50px;
   }
   &__btn {
      display: inline-block;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      color: #ffffff;
      padding: 3px 18px;
      width: 100px;
      text-align: center;
   }
   &__btn-log {
      background-color: #8bc34a;
      margin-right: 10px;
   }
   &__btn-reg {
      background-color: #e74c3c;
   }
   &__menu {
      background-color: #ffffff;
   }
   &__menu-inner {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.menu__list {
   li {
      display: inline-block;
      & + li {
         margin-left: 30px;
      }
   }
   a {
      font-family: "Quicksand";
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      text-transform: uppercase;
   }
}
.header-search {
   position: relative;
   input {
      display: block;
      color: #898f96;
      font-size: 15px;
      padding: 16px 80px 16px 25px;
      width: 360px;
      height: 46px;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
      &::placeholder {
         color: #898f96;
         font-size: 15px;
      }
   }
   button {
      position: absolute;
      width: 70px;
      height: 46px;
      border-radius: 23px;
      background-color: #0674ec;
      right: 0;
      top: 0;
   }
}
//! header end
//! create start
.create {
   background: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
   height: 726px;
   &__box {
      padding: 185px 0 100px;
      text-align: center;
      color: #f3f3f8;
   }
   &__title {
      font-size: 60px;
      line-height: 70px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 38px;
      span {
         display: block;
         font-weight: 700;
      }
   }
   &__text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 68px;
   }
   &__btn {
      display: inline-block;
      width: 190px;
      background-color: transparent;
      color: #ffffff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      border: 1px solid #ffffff;
      padding: 11px 30px;
      font-size: 16px;
      & + a {
         margin-left: 30px;
      }
      &.active {
         background-color: #ffffff;
         color: #0674ec;
      }
      &:hover {
         background-color: #ffffff;
         color: #0674ec;
      }
   }
}
//! create end
//! search start
.search {
   &__box {
      position: relative;
      max-width: 1140px;
      margin: 0 auto;
   }
   &__inner {
      position: absolute;
      border-radius: 6px;
      background-color: #ffffff;
      max-width: 1080px;
      width: 100%;
      height: 135px;
      margin: auto;
      left: 0;
      right: 0;
   }
   &__inner-o {
      opacity: 0.5;
      top: -95px;
   }
   &__inner-t {
      max-width: 1110px;
      opacity: 0.5;
      top: -83px;
   }
   &__inner-f {
      max-width: 1140px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      top: -70px;
      margin-bottom: 20px;
   }
   &__row {
      padding: 40px;
   }
   &__form {
      display: flex;
      justify-content: space-between;
      input {
         display: block;
         max-width: 607px;
         width: 100%;
         height: 55px;
         border-radius: 4px 0 0 4px;
         border: 1px solid #dcdcdc;
         border-right: none;
         font-family: Quicksand;
         color: #676767;
         font-size: 16px;
         padding: 10px 40px;
         &::placeholder {
            font-size: 16px;
            color: #676767;
            font-family: Quicksand;
         }
      }
      select {
         border: 1px solid #dcdcdc;
         border-radius: 0 4px 4px 0;
         width: 200px;
         color: #676767;
         padding: 10px 20px;
         margin-right: auto;
         cursor: pointer;
      }
      button {
         width: 223px;
         height: 55px;
         border-radius: 4px;
         background-color: #0674ec;
         color: #ffffff;
         cursor: pointer;
      }
   }
}
//! search end
//! response start
.response {
   &__top {
      background-color: #fff;
   }
   &__inner {
      padding-top: 180px;
      padding-bottom: 100px;
   }
   &__row {
      display: flex;
      margin: 0 -10px;
   }
   &__col {
      display: flex;
      flex: 0 1 33.333%;
      text-align: center;
      padding: 0 10px;
      transition: all 0.5s;
      &:hover {
         box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
         background-color: #fff;
         border-radius: 4px;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
      color: #000;
      padding-bottom: 20px;
      border-radius: 5px;
      padding: 15px;
   }
   &__img {
      margin: 0 auto;
      width: 112px;
      height: 113px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 20px;
   }
   &__title {
      font-size: 24px;
      color: #010101;
      margin-bottom: 25px;
   }
   &__text {
      color: #555555;
      line-height: 30px;
      height: 150px;
      overflow: hidden;
   }
}
//! response end
//! fslaider start
.fslaider {
   &__top {
      background-color: #eff1f5;
      padding: 100px 0;
   }
   &__header {
      margin-bottom: 50px;
   }
   &__title {
      color: #000000;
      font-size: 30px;
      line-height: 32px;
   }
   &__control {
      width: 110px;
      height: 45px;
      border-radius: 23px;
      background-color: #7347c1;
   }

   &__box {
      display: flex;
      background-color: #fff;
   }
   &__inner {
      flex-basis: 100%;
      max-width: 100%;
   }
   &__item-img {
      max-width: 555px;
      width: 100%;
      float: left;
      min-height: 450px;
      display: block;
      border-radius: 4px 0 0 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
   }
   &__item-container {
      padding: 23px 62px 20px 605px;
   }
   &__item-title {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
   }
   &__item-features {
      font-size: 15px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      position: relative;
      .author {
         color: #000;
         padding-left: 40px;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            background-image: url(../images/content/theam.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            top: 0;
            left: 0;
         }
      }
      .product {
         color: #7347c1;
         padding-left: 20px;
         position: relative;
         margin-left: 30px;
         &::before {
            content: "";
            position: absolute;
            background-image: url(../images/content/plugin.png);
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            overflow: hidden;
            top: 7px;
            left: 0;
         }
      }
   }
   &__item-text {
      color: #555555;
      line-height: 30px;
      margin-bottom: 34px;
   }
   &__item-list {
      padding-bottom: 40px;
      border-bottom: 1px solid #ececec;
      a {
         display: inline-block;
         border-radius: 14px;
         background-color: #f1f3f6;
         color: #868c96;
         font-size: 15px;
         line-height: 18px;
         padding: 5px 18px;
         & + a {
            margin-left: 7px;
         }
      }
   }
   &__item-price {
      margin-top: 16px;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
         & + a {
            margin-left: 19px;
         }
      }
      & .price {
         border-radius: 16px;
         background-color: #0674ec;
         font-weight: 500;
         color: #fff;
         padding: 6px 18px;
      }
      & .heart {
         color: #555555;
         position: relative;
         padding-left: 20px;
         &::before {
            content: "\f08a";
            font-family: "icomoon" !important;
            color: #7347c1;
            font-size: 15px;
            position: absolute;
            left: 0;
         }
      }
      & .cart {
         color: #0674ec;
         position: relative;
         padding-left: 20px;
         &::before {
            content: "\f218";
            font-family: "icomoon" !important;
            color: #0674ec;
            font-size: 15px;
            position: absolute;
            left: 0;
         }
      }
   }
}
//!
.slick-slide {
   margin-right: 20px;
}
.slick-arrow {
   position: absolute;
   color: #fff;
   font-size: 24px;
   &.slick-next {
      right: 118px;
      top: -118px;
      &::before {
         content: "\f104";
         font-family: "icomoon" !important;
         position: absolute;
         left: 0;
      }
   }
   &.slick-prev {
      right: 64px;
      z-index: 2;
      top: -118px;
      &::before {
         content: "\f105";
         font-family: "icomoon" !important;
         position: absolute;
         left: 0;
      }
   }
}
//! fslaider end
//! release start
.release {
   background-color: #f6f7fb;
   padding: 120px 0;
   &__header {
      margin-bottom: 30px;
   }
   &__title {
      color: #000000;
      font-size: 30px;
      line-height: 32px;
   }
   &__control {
      color: #747b86;
   }
   &__products-btn {
      height: 92px;
      box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
      padding: 30px;
      margin-bottom: 50px;
      button {
         font-size: 15px;
         color: #747b86;
         border-radius: 16px;
         background-color: #f1f3f6;
         padding: 7px 19px;
         cursor: pointer;
         & + button {
            margin-left: 8px;
         }
         &.active {
            background-color: #0674ec;
            color: #fff;
         }
         &:hover {
            background-color: #0674ec;
            color: #fff;
         }
      }
   }
   &__products-box {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__item {
      max-width: 361px;
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
      margin-bottom: 30px;
   }
   &__img {
      min-height: 230px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }
   &__content {
      padding: 30px;
      border-bottom: 1px solid #ececec;
   }
   &__item-title {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
   }
   &__item-features {
      font-size: 15px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      position: relative;
      .author {
         color: #000;
         padding-left: 40px;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            background-image: url(../images/content/theam.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            top: 0;
            left: 0;
         }
      }
      .product {
         color: #7347c1;
         padding-left: 20px;
         position: relative;
         margin-left: 30px;
         &::before {
            content: "";
            position: absolute;
            background-image: url(../images/content/plugin.png);
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            overflow: hidden;
            top: 7px;
            left: 0;
         }
      }
   }
   &__item-text {
      color: #555555;
      line-height: 30px;
   }
   &__item-price {
      font-size: 15px;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 30px;
      a {
         & + a {
            margin-left: 19px;
         }
      }
      & .price {
         border-radius: 16px;
         background-color: #e6f1fd;
         font-weight: 500;
         color: #0674ec;
         padding: 6px 18px;
      }
      & .heart {
         color: #6f7d8d;
         position: relative;
         padding-left: 20px;
         &::before {
            content: "\f08a";
            font-family: "icomoon" !important;
            color: #7f4ec2;
            font-size: 15px;
            position: absolute;
            left: 0;
         }
      }
      & .cart {
         color: #0674ec;
         position: relative;
         padding-left: 20px;
         &::before {
            content: "\f218";
            font-family: "icomoon" !important;
            color: #0674ec;
            font-size: 15px;
            position: absolute;
            left: 0;
         }
      }
   }

   &__products-all {
      text-align: center;
      button {
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         border-radius: 28px;
         background-color: #0674ec;
         color: #ffffff;
         padding: 18px 30px;
      }
   }
}
//! fslaider end
//! followers start
.followers {
   padding: 120px 0;
   background-color: #eff1f5;
   &__products-box {
      max-width: 1140px;
      width: 100%;
   }
   &__header {
      margin-bottom: 50px;
   }
   &__title {
      color: #000000;
      font-size: 30px;
      line-height: 32px;
   }
   &__control {
      width: 110px;
      height: 45px;
      border-radius: 23px;
      background-color: #0674ec;
   }
}
//! followers end
//! cloud start
.cloud {
   padding: 100px 0 100px;
   background-color: #212225;
   &__box {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
   }
   &__sales {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 10px;
      margin-top: 40px;
      &-a {
         color: #feb71d;
      }
      &-b {
         color: #58c9e9;
      }
      &-c {
         color: #77de51;
      }
      &-d {
         color: #ff6a6d;
      }
   }
   &__item {
      span {
         color: #fff;
         font-size: 18px;
         line-height: 20px;
      }
   }
   &__icon-a {
      &::before {
         content: "\f0b1";
         font-family: "icomoon" !important;
         color: #feb71d;
         font-size: 48px;
      }
   }
   &__icon-b {
      &::before {
         content: "\f0ed";
         font-family: "icomoon" !important;
         color: #58c9e9;
         font-size: 48px;
      }
   }
   &__icon-c {
      &::before {
         content: "\f118";
         font-family: "icomoon" !important;
         color: #77de51;
         font-size: 48px;
      }
   }
   &__icon-d {
      &::before {
         content: "\f0c0";
         font-family: "icomoon" !important;
         color: #ff6a6d;
         font-size: 48px;
      }
   }
}
//! cloud end
//! select start
.select {
   padding: 120px 0;
   background-color: #fff;
   &__inner {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &__item {
      max-width: 361px;
      padding: 55px 35px 60px;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      background-color: #ffffff;
      margin-bottom: 30px;
      text-align: center;
      position: relative;
      span {
         font-size: 48px;
         color: #f2f5fe;
         position: absolute;
         top: 20px;
         left: 20px;
      }
      &-title {
         font-size: 24px;
         color: #000;
         margin: 50px 0 30px;
      }
      &-text {
         color: #555555;
      }
      &-a {
         &::before {
            content: "\f2c3";
            font-family: "icomoon" !important;
            color: #0674ec;
            font-size: 60px;
         }
      }
      &-b {
         &::before {
            content: "\f0d0";
            font-family: "icomoon" !important;
            color: #7f4ec2;
            font-size: 60px;
         }
      }
      &-c {
         &::before {
            content: "\f023";
            font-family: "icomoon" !important;
            color: #77de51;
            font-size: 60px;
         }
      }
      &-d {
         &::before {
            content: "\f080";
            font-family: "icomoon" !important;
            color: #feb71d;
            font-size: 60px;
         }
      }
      &-e {
         &::before {
            content: "\f06c";
            font-family: "icomoon" !important;
            color: #58c9e9;
            font-size: 60px;
         }
      }
      &-f {
         &::before {
            content: "\f095";
            font-family: "icomoon" !important;
            color: #ff6a6d;
            font-size: 60px;
         }
      }
   }
}
//! select end
//! shopping start
.shopping {
   position: relative;
   height: 560px;
   &__box {
      min-height: 560px;
      color: #fff;
   }
   &__sell {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 100px;
      text-align: center;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
   }
   &__title {
      font-size: 36px;
      margin-top: 50px;
   }
   &__text {
      max-width: 580px;
      margin: 35px auto;
   }
   &__shopping {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 100px;
      text-align: center;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
   }
   &__link {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      background-color: #ffffff;
      color: #0674ec;
      padding: 17px 25px;
      &.shop {
         color: #7347c1;
      }
   }
}
//! shopping end
//! feedback start
.feedback {
   &__product {
      text-align: center;
   }
   padding: 100px 0;
   background-color: #fff;
   &__inner {
      margin: 60px 0 60px;
      display: flex;
   }
   &__column {
      flex: 0 0 50%;
      border-left: 2px solid #0674ec;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      background-color: #ffffff;
      max-width: 555px;
      & + & {
         margin-left: 30px;
      }
   }
   &__item {
      padding: 50px 40px;
   }
   &__box {
      display: flex;
      align-items: center;
      position: relative;
      span::before {
         content: "\f0e5";
         font-family: "icomoon" !important;
         color: #e8e8e8;
         font-size: 60px;
         position: absolute;
         top: 10px;
         right: 0;
      }
   }
   &__item-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
   }
   &__item-title {
      font-size: 20px;
      color: #000;
   }
   &__item-text {
      color: #555;
      margin-top: 20px;
   }
   &__one {
      margin-left: 20px;
   }
   &__item-link {
      color: #ffffff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      background-color: #0674ec;
      padding: 18px 35px;
   }
}
//! feedback end
//! latest-news start
.latest-news {
   background-color: #eff1f5;
   padding: 120px 0;
   &__products-box {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
//! latest-news end
//! money start
.money {
   background-color: #fff;
   padding: 60px 0;
   &__inner {
      display: flex;
      justify-content: space-around;
      text-align: center;
   }
   &__text {
      margin-top: 20px;
      font-size: 24px;
      color: #000;
      a {
         color: #0674ec;
      }
      &.sup a {
         color: #7347c1;
      }
   }
}
//! money end
//! ready start
.ready {
   padding: 110px 0;
   background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
   text-align: center;
   &__title {
      font-size: 36px;
      color: #fff;
   }
   &__subject {
      font-size: 18px;
      color: #e7e7e7;
      margin-top: 20px;
      margin-bottom: 50px;
   }
   &__link {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      background-color: #ffffff;
      color: #0674ec;
      padding: 18px 44px;
      &:hover {
         color: #000;
         background-color: #b9c4fc;
      }
   }
}
//! ready end
//! footer start
.footer {
   &__top {
      background-color: #262b30;
      padding: 120px 0;
   }
   &__iiner {
      display: flex;
      color: #ababab;
      justify-content: space-between;
      margin: 0 -30px;
      flex-wrap: wrap;
   }
   &__col-a {
      flex: 1 0 265px;
      padding: 0 30px;
   }
   &__col-b {
      flex: 1 0 135px;
      padding: 0 30px;
   }
   &__col-c {
      flex: 1 0 135px;
      padding: 0 30px;
   }
   &__col-d {
      flex: 1 0 360px;
      padding: 0 30px;
   }
   &__col-logo {
      margin-bottom: 35px;
   }
   &__col-text {
      color: #ababab;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 35px;
   }
   &__bottom {
      height: 94px;
      background-color: #192027;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999999;
      a {
         color: #fff;
      }
   }
   &__col-phone {
      padding-left: 25px;
      display: block;
      position: relative;
      font-size: 15px;
      color: #ababab;
      margin-bottom: 4px;
      &::before {
         content: "\f095";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         left: 0;
      }
   }
   &__col-adress {
      padding-left: 25px;
      display: block;
      position: relative;
      font-size: 15px;
      color: #ababab;
      margin-bottom: 4px;
      &::before {
         content: "\f003";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         left: 0;
      }
   }
   &__col-map {
      padding-left: 25px;
      display: block;
      position: relative;
      font-size: 15px;
      color: #ababab;
      line-height: 24px;
      &::before {
         content: "\f041";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         left: 2px;
         top: 12px;
      }
   }
   &__col-b a,
   &__col-c a {
      color: #ababab;
      font-size: 15px;
   }
   &__col-title {
      margin-bottom: 35px;
      letter-spacing: 0.9px;
      color: #fff;
      font-size: 18px;
      line-height: 36px;
   }
   &__col-cocial {
      display: flex;
   }
   &__col-email {
      position: relative;
      margin-bottom: 50px;
      input {
         display: block;
         color: #ababab;
         font-size: 15px;
         padding: 16px 80px 16px 25px;
         width: 360px;
         height: 50px;
         border-radius: 23px;
         border: 1px solid #d9dfe5;
         &::placeholder {
            color: #898f96;
            font-size: 15px;
         }
      }
      button {
         position: absolute;
         width: 110px;
         height: 50px;
         border-radius: 25px;
         color: #fff;
         font-size: 15px;
         background-color: #0674ec;
         right: 12px;
         top: 0;
      }
   }
}
.cocial {
   & + & {
      margin-left: 15px;
   }
   &-f {
      background-color: #395799;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f09a";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 15px;
      }
   }
   &-t {
      background-color: #19b2f5;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f099";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 13px;
      }
   }
   &-g {
      background-color: #f05b44;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f2b3";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 13px;
      }
   }
   &-p {
      background-color: #9c0c1c;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f231";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 14px;
      }
   }
   &-i {
      background-color: #0da6be;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f090";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 13px;
      }
   }
   &-m {
      background-color: #ea4c89;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "\f2d9";
         font-family: "icomoon" !important;
         position: absolute;
         color: #ffffff;
         top: 6px;
         left: 10px;
      }
   }
}
//! footer end
