.header {
   &__top {
      background-color: #eef1f3;
   }
   &__top-inner {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
   }
   &__seller {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      background-color: #0674ec;
      color: #ffffff;
      padding: 3px 18px;
      cursor: pointer;
      margin-left: auto;
      margin-right: 50px;
   }
   &__btn {
      display: inline-block;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      color: #ffffff;
      padding: 3px 18px;
      width: 100px;
      text-align: center;
   }
   &__btn-log {
      background-color: #8bc34a;
      margin-right: 10px;
   }
   &__btn-reg {
      background-color: #e74c3c;
   }
   &__menu {
      background-color: #ffffff;
   }
   &__menu-inner {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.menu__list {
   li {
      display: inline-block;
      & + li {
         margin-left: 30px;
      }
   }
   a {
      font-family: "Quicksand";
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      text-transform: uppercase;
   }
}
.header-search {
   position: relative;
   input {
      display: block;
      color: #898f96;
      font-size: 15px;
      padding: 16px 80px 16px 25px;
      width: 360px;
      height: 46px;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
      &::placeholder {
         color: #898f96;
         font-size: 15px;
      }
   }
   button {
      position: absolute;
      width: 70px;
      height: 46px;
      border-radius: 23px;
      background-color: #0674ec;
      right: 0;
      top: 0;
   }
}
//! header end
//! create start
.create {
   background: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
   height: 726px;
   &__box {
      padding: 185px 0 100px;
      text-align: center;
      color: #f3f3f8;
   }
   &__title {
      font-size: 60px;
      line-height: 70px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 38px;
      span {
         display: block;
         font-weight: 700;
      }
   }
   &__text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 68px;
   }
   &__btn {
      display: inline-block;
      width: 190px;
      background-color: transparent;
      color: #ffffff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      border: 1px solid #ffffff;
      padding: 11px 30px;
      font-size: 16px;
      & + a {
         margin-left: 30px;
      }
      &.active {
         background-color: #ffffff;
         color: #0674ec;
      }
      &:hover {
         background-color: #ffffff;
         color: #0674ec;
      }
   }
}
//! create end
//! search start
.search {
   &__box {
      position: relative;
      max-width: 1140px;
      margin: 0 auto;
   }
   &__inner {
      position: absolute;
      border-radius: 6px;
      background-color: #ffffff;
      max-width: 1080px;
      width: 100%;
      height: 135px;
      margin: auto;
      left: 0;
      right: 0;
   }
   &__inner-o {
      opacity: 0.5;
      top: -95px;
   }
   &__inner-t {
      max-width: 1110px;
      opacity: 0.5;
      top: -83px;
   }
   &__inner-f {
      max-width: 1140px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      top: -70px;
   }
   &__row {
      padding: 40px;
   }
   &__form {
      display: flex;
      justify-content: space-between;
      input {
         display: block;
         max-width: 607px;
         width: 100%;
         height: 55px;
         border-radius: 4px 0 0 4px;
         border: 1px solid #dcdcdc;
         border-right: none;
         font-family: Quicksand;
         color: #676767;
         font-size: 16px;
         padding: 10px 40px;
         &::placeholder {
            font-size: 16px;
            color: #676767;
            font-family: Quicksand;
         }
      }
      select {
         border: 1px solid #dcdcdc;
         border-radius: 0 4px 4px 0;
         width: 200px;
         color: #676767;
         padding: 10px 20px;
         margin-right: auto;
         cursor: pointer;
      }
      button {
         width: 223px;
         height: 55px;
         border-radius: 4px;
         background-color: #0674ec;
         color: #ffffff;
         cursor: pointer;
      }
   }
}
//! search end
